# Automate the import of colors to csv for import to sql

1. import images
2. extract rgb information
3. average by line
5. add color name, pigment, warmth, transparency, lightfastness, manufacturer
5. add to sql database table colors/rgb

In [2]:
import cv2
import numpy as np
import skimage as sk
from skimage import io, transform

In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [3]:
dbname = 'colors'
username = 'macbook'
pswd = 'DarwinRulez!1'

engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)

postgresql://macbook:DarwinRulez!1@localhost/colors
postgresql://macbook:DarwinRulez!1@localhost/colors

In [5]:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT color_name, image_number FROM pigment_info;
"""
color_data_from_sql = pd.read_sql_query(sql_query,con)

color_data_from_sql

                        color_name  image_number
0               Hansa Yellow Light             1
1                Quinacridone Gold             2
2               Cadmium Orange Hie             3
3             50_50_hansa_scarlett             4
4                   Pyrrol Scarlet             5
5               75_pyrrol_75_hansa             6
6                    pyrrol orange             7
7                   pyrrol crimson             8
8                Quinacridone Rose             9
9                     Mayan Violet            10
10  75_Crimson_25_Ultramarine_Blue            11
11                 Imperial Purple            12
12       50_ultrablue_50_quin_rose            13
13              French Ultramarine            14
14                Pthalo Blue (GS)            15
15                Pthalo Turquoise            16
16               Pthalo Green (YS)            17
17               Pthalo Green (BS)            18
18             Pthalo Yellow Green            19
19                  Hooker's Green            20
20                       Sap Green            21
21                    Burnt Sienna            22
22                Raw Umber Violet            23
23                    Payne's Gray            24
24                    neutral tint            25
25                      lamp black            26

In [41]:
def image_read(df, col1, col2):
    for i in range(0,len(df)):
        print(df[col1][i])

In [42]:
image_read(color_data_from_sql, "color_name", "color_number")

Hansa Yellow Light
Quinacridone Gold
Cadmium Orange Hie
50_50_hansa_scarlett
Pyrrol Scarlet
75_pyrrol_75_hansa
pyrrol orange
pyrrol crimson
Quinacridone Rose
Mayan Violet
75_Crimson_25_Ultramarine_Blue
Imperial Purple
50_ultrablue_50_quin_rose
French Ultramarine
Pthalo Blue (GS)
Pthalo Turquoise
Pthalo Green (YS)
Pthalo Green (BS)
Pthalo Yellow Green
Hooker's Green
Sap Green
Burnt Sienna
Raw Umber Violet
Payne's Gray
neutral tint
lamp black