# Automate the import of colors to csv for import to sql

1. import images
2. extract rgb information
3. average by line
5. add color name, pigment, warmth, transparency, lightfastness, manufacturer
5. add to sql database table colors/rgb

In [1]:
import cv2
import numpy as np
import skimage as sk
from skimage import io, transform

In [2]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [3]:
dbname = 'colors'
username = 'macbook'
pswd = 'DarwinRulez!1'

engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)

postgresql://macbook:DarwinRulez!1@localhost/colors
postgresql://macbook:DarwinRulez!1@localhost/colors

In [4]:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT color_name, image_number FROM pigment_info;
"""
color_data_from_sql = pd.read_sql_query(sql_query,con)

color_data_from_sql

                        color_name  image_number
0               Hansa Yellow Light             1
1                Quinacridone Gold             2
2               Cadmium Orange Hie             3
3             50_50_hansa_scarlett             4
4                   Pyrrol Scarlet             5
5               75_pyrrol_75_hansa             6
6                    pyrrol orange             7
7                   pyrrol crimson             8
8                Quinacridone Rose             9
9                     Mayan Violet            10
10  75_Crimson_25_Ultramarine_Blue            11
11                 Imperial Purple            12
12       50_ultrablue_50_quin_rose            13
13              French Ultramarine            14
14                Pthalo Blue (GS)            15
15                Pthalo Turquoise            16
16               Pthalo Green (YS)            17
17               Pthalo Green (BS)            18
18             Pthalo Yellow Green            19
19                  Hooker's Green            20
20                       Sap Green            21
21                    Burnt Sienna            22
22                Raw Umber Violet            23
23                    Payne's Gray            24
24                    neutral tint            25
25                      lamp black            26

In [5]:
def image_read(df, col1, col2):
    for i in range(0,len(df)):
        print(str(df[col2][i]) + ".jpg")

In [6]:
im = cv2.imread("1.png")

In [7]:
im

array([[[ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243],
        ...,
        [ 59, 238, 239],
        [ 59, 238, 239],
        [ 59, 238, 239]],

       [[ 61, 236, 241],
        [ 61, 236, 241],
        [ 61, 236, 241],
        ...,
        [ 59, 238, 239],
        [ 59, 238, 239],
        [ 59, 238, 239]],

       [[ 61, 236, 241],
        [ 61, 236, 241],
        [ 61, 236, 241],
        ...,
        [ 59, 238, 239],
        [ 59, 238, 239],
        [ 60, 238, 239]],

       ...,

       [[ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243],
        ...,
        [ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243]],

       [[ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243],
        ...,
        [ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243]],

       [[ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243],
        ...,
        [ 61, 238, 243],
        [ 61, 238, 243],
        [ 61, 238, 243]]], dtype=uint8)

In [8]:
def image_read(df, col1, col2):
    #Output dataframe
    colors = pd.DataFrame()
    """Function to:
    1. read in clipped color images
    2. convert to HSV colorspace 
    3. compute the mean of each row
    4. append to output df"""
    for i in range(0,len(df)):
        #DataFrame that holds each color information
        #import each image based on the image_number from SQL
        image = cv2.imread(str(df[col2][i]) + ".png")
        #convert to hsv
        image_con = cv2.cvtColor(image, cv2.COLOR_BGR2HSV)
        #take the mean of each row
        image_mean = image_con.mean(axis=0)
        #turn into dataframe and add the colorname and image#
        imported =pd.DataFrame(image_mean, columns=["h","s","v"])
        imported["color_name"] = str(df[col1][i])
        imported["image_number"] = str(df[col2][i])
        colors = pd.concat([colors,imported], ignore_index=True)
        #print(imported)
        #print(image_mean.mean())
        #convert the image to 
    return colors

In [9]:
df = image_read(color_data_from_sql, "color_name", "image_number")

In [10]:
df

              h           s           v          color_name image_number
0     29.126984  190.650794  242.380952  Hansa Yellow Light            1
1     29.126984  190.714286  242.507937  Hansa Yellow Light            1
2     29.126984  190.714286  242.507937  Hansa Yellow Light            1
3     29.126984  190.650794  242.380952  Hansa Yellow Light            1
4     29.126984  190.650794  242.380952  Hansa Yellow Light            1
...         ...         ...         ...                 ...          ...
3011  52.734375   41.437500   26.351562          lamp black           26
3012  52.601562   41.468750   26.164062          lamp black           26
3013  52.132812   44.757812   26.226562          lamp black           26
3014  52.257812   43.445312   27.375000          lamp black           26
3015  52.523438   42.500000   27.937500          lamp black           26

[3016 rows x 5 columns]

In [11]:
df.to_sql('pigment_hsv2', engine, if_exists='replace')

In [12]:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT h FROM pigment_hsv2 LIMIT 10;
"""
color_data_from_sql = pd.read_sql_query(sql_query,con)

color_data_from_sql.head()

           h
0  29.126984
1  29.126984
2  29.126984
3  29.126984
4  29.126984