In [2]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [3]:
dbname = 'colors'
username = 'macbook'
pswd = 'DarwinRulez!1'

engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)

con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

postgresql://macbook:DarwinRulez!1@localhost/colors
postgresql://macbook:DarwinRulez!1@localhost/colors

In [4]:
X_sql = sql_query = """
SELECT h,s,v FROM pigment_hsv;
"""
X = pd.read_sql_query(X_sql,con)

In [6]:
X

               h           s           v
0     234.761905  110.746032  207.761905
1     234.888889  110.746032  207.825397
2     234.888889  110.746032  207.825397
3     234.761905  110.746032  207.761905
4     234.761905  110.746032  207.761905
...          ...         ...         ...
3011   23.000000  125.218750  130.375000
3012   22.742188  125.187500  130.382812
3013   22.781250  125.000000  130.546875
3014   24.187500  124.976562  130.640625
3015   24.976562  124.937500  130.585938

[3016 rows x 3 columns]

In [8]:
y_sql  = """
SELECT image_number FROM pigment_hsv;
"""
y = pd.read_sql_query(y_sql,con)

In [9]:
y

     image_number
0               1
1               1
2               1
3               1
4               1
...           ...
3011           26
3012           26
3013           26
3014           26
3015           26

[3016 rows x 1 columns]