In [58]:
import numpy as np
import pandas as pd
import cv2

# Using the shifted H clustering to improve color identification

## Function to generate the shifted H values

Data must be in RGB format with each pixel as a seperate line.
Suggested v_thresholds and s_thresholds are 30% of sum of v and s

In [23]:
#red test set 1- pure red, 2 - red gray, 3 - light red, 4 - dark red, 5 - white, 6 - black
h_shifts = [[255,0,0],[133,88,88],[255,196,196],[84,24,24],[255,255,255],[0,0,1]]

In [60]:
hsv_convert = cv2.cvtColor(h_shifts, cv2.COLOR_RGB2HSV)

TypeError: Expected Ptr<cv::UMat> for argument 'src'

In [8]:
h_shifts[0][0]

255

In [16]:
abs(-1)

1

In [24]:
for i in range(0,6):
    V = max(h_shifts[i])
    M = min(h_shifts[i])
    S = (V-M)/(1-(abs(V+M-1)))
    print(S)

-1.007905138339921
-0.2054794520547945
-0.13140311804008908
-0.5660377358490566
-0.0
1.0

In [ ]:
h_values

In [54]:


def shift_h(data, v_thresh, s_thresh):
    """Produces shifted H values for color segmentation
    Inputs: data - list of pixel R,G,B values one entery per pixel
    Outputs: H, H120, H240
    """
    shifted_colors = []
    for i in range(0,len(data)):
        r = data[i][0]
        g = data[i][1]
        b = data[i][2]
        V = max(data[i])
        M = min(data[i])
        if V == 0:
            S = 1
        else:    
            S = (V-M)/(1-abs(V+M-1))
        V_thres = 255*v_thresh
        print(V)
        print(V_thres)
        S_thres = 255*s_thresh
        print(S)
        print(S_thres)
        if V > V_thres and S > S_thres:
            R = 60*((g-b)/(V-M))
            G = 60*((2+(b-r))/(V-M))
            B = 60*((4 + (r-g))/(V-M))
            H = R+B+G
            if H >= 120:
                H120 = H - 120
            else:
                H120 = H + 60
            if H >= 60:
                H240 = H - 60
            else:
                H240 = H + 120
        else:
            H = 200 + ((V/255)*55)
            H120 = H
            H240 = H
        shifted_colors.append([H,H120,H240])
    return shifted_colors

In [55]:
shift = shift_h(h_shifts, .30, .30)

255
76.5
-1.007905138339921
76.5
133
76.5
-0.2054794520547945
76.5
255
76.5
-0.13140311804008908
76.5
84
76.5
-0.5660377358490566
76.5
255
76.5
-0.0
76.5
1
76.5
1.0
76.5

In [56]:
shift

[[255.0, 255.0, 255.0],
 [228.68627450980392, 228.68627450980392, 228.68627450980392],
 [255.0, 255.0, 255.0],
 [218.11764705882354, 218.11764705882354, 218.11764705882354],
 [255.0, 255.0, 255.0],
 [200.2156862745098, 200.2156862745098, 200.2156862745098]]

In [167]:
258/2

129.0

In [168]:
#values in hsv 1 - sap Green, deep sapgreen, chinese white, paynes grrey, lunar black, imperieal purple
h_values = [[43,246,110], [66,240, 68], [15,9,247],[66,42,63], [42,11,124], [129,123,148]]

In [176]:
def shift_h(data, v_thresh, s_thresh):
    """Produces shifted H values for color segmentation
    Inputs: data - list of pixel H, S, V values one entry per pixel
    Outputs: H, H120, H240
    """
    shifted_colors = []
    for i in range(0,len(data)):
        H = data[i][0]
        s = data[i][1]
        v = data[i][2]
        V_thres = 255*v_thresh
        S_thres = 255*s_thresh
        if (v > V_thres and s > S_thres):
            if H >= 120:
                H120 = H - 120
            else:
                H120 = H + 60
            if H >= 60:
                H240 = H - 60
            else:
                H240 = H + 120
        else:
            H = 200 + ((v/255)*55)
            H120 = H
            H240 = H
        shifted_colors.append([H,H120,H240])
    return shifted_colors

In [181]:
shift = shift_h(h_values, .25,.25)

In [182]:
shift

[[43, 103, 163],
 [66, 126, 6],
 [253.27450980392157, 253.27450980392157, 253.27450980392157],
 [213.58823529411765, 213.58823529411765, 213.58823529411765],
 [226.7450980392157, 226.7450980392157, 226.7450980392157],
 [129, 9, 69]]

# Get Shifted H for the DS swatches and compaire between shifted and unshifted with test swatches.

##Import HSV values from SQL

In [173]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
dbname = 'colors'
username = 'macbook'
pswd = 'DarwinRulez!1'

engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)

con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

postgresql://macbook:DarwinRulez!1@localhost/colors
postgresql://macbook:DarwinRulez!1@localhost/colors

In [174]:
hsv_sql = sql_query = """
SELECT name, label, h,s,v FROM ds_swatches;
"""
ds_hsv = pd.read_sql_query(hsv_sql,con)

In [175]:
ds_hsv

                 name  label           h           s           v
0     Imperial Purple      1  127.981481  126.981481  143.601852
1     Imperial Purple      1  127.944444  126.287037  144.250000
2     Imperial Purple      1  127.981481  126.564815  144.009259
3     Imperial Purple      1  127.962963  126.509259  143.981481
4     Imperial Purple      1  128.231481  126.583333  144.259259
...               ...    ...         ...         ...         ...
4893   Titanium White     79   26.666667    1.777778  253.138889
4894   Titanium White     79   26.666667    1.777778  252.768519
4895   Titanium White     79   26.666667    1.777778  252.388889
4896   Titanium White     79   26.666667    1.777778  252.351852
4897   Titanium White     79   26.666667    1.777778  252.509259

[4898 rows x 5 columns]

In [193]:
def shift_h_df(data, v_thresh, s_thresh):
    """Produces shifted H values for color segmentation
    Inputs: data - list of pixel H, S, V values one entry per pixel
    Outputs: H, H120, H240
    """
    shifted_colors = []
    for i in range(0,len(data)):
        H = data["h"][i]
        s = data["s"][i]
        v = data["v"][i]
        V_thres = 255*v_thresh
        S_thres = 255*s_thresh
        if (v > V_thres and s > S_thres):
            if H >= 120:
                H120 = H - 120
            else:
                H120 = H + 60
            if H >= 60:
                H240 = H - 60
            else:
                H240 = H + 120
        else:
            H = 200 + ((v/255)*55)
            H120 = H
            H240 = H
        shifted_colors.append([H,H120,H240])
    return shifted_colors

In [194]:
ds_hsv_shift = shift_h_df(ds_hsv, .25,.25)

In [195]:
ds_hsv_shift_df = pd.DataFrame(ds_hsv_shift, columns=["H", "H120", "H240"])

In [196]:
ds_full = pd.concat([ds_hsv,ds_hsv_shift_df], axis = 1)

In [197]:
ds_full

,name,label,h,s,v,H,H120,H240
0,Imperial Purple,1,127.981481,126.981481,143.601852,127.981481,7.981481,67.981481
1,Imperial Purple,1,127.944444,126.287037,144.250000,127.944444,7.944444,67.944444
2,Imperial Purple,1,127.981481,126.564815,144.009259,127.981481,7.981481,67.981481
3,Imperial Purple,1,127.962963,126.509259,143.981481,127.962963,7.962963,67.962963
4,Imperial Purple,1,128.231481,126.583333,144.259259,128.231481,8.231481,68.231481
...,...,...,...,...,...,...,...,...
4893,Titanium White,79,26.666667,1.777778,253.138889,254.598584,254.598584,254.598584
4894,Titanium White,79,26.666667,1.777778,252.768519,254.518700,254.518700,254.518700
4895,Titanium White,79,26.666667,1.777778,252.388889,254.436819,254.436819,254.436819
4896,Titanium White,79,26.666667,1.777778,252.351852,254.428831,254.428831,254.428831
4897,Titanium White,79,26.666667,1.777778,252.509259,254.462781,254.462781,254.462781

In [198]:
ds_full.to_csv("hue_shift_ds")

# Generate KNN model for pallette colors

In [233]:
from sklearn.neighbors import DistanceMetric

In [244]:
X = ds_full[['H']]
y = ds_full['name']

In [245]:
X.shape

(4898, 1)

In [246]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [250]:
X_train.shape

(3673, 1)

In [251]:
DistanceMetric.get_metric('mahalanobis', V=np.cov(X_train))

/Users/macbook/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: Degrees of freedom <= 0 for slice
  """Entry point for launching an IPython kernel.
/Users/macbook/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/Users/macbook/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

In [317]:
knn = KNeighborsClassifier(n_neighbors=78, weights = 'distance')

In [318]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=78, p=2,
                     weights='distance')

In [319]:
y_pred = knn.predict(X_test)

In [320]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7893877551020408

In [262]:
y_pred

array(['Undersea Green', 'Indanthrone Blue', 'Perinone Orange', ...,
       'Hansa Yellow Medium', 'Undersea Green', 'Imperial Purple'],
      dtype=object)

In [270]:
y_df = pd.DataFrame(y_pred, columns = ["y_pred"])

In [300]:
y_df

                        y_pred
0               Undersea Green
1             Indanthrone Blue
2              Perinone Orange
3                 Burnt Sienna
4     Phthalo Green Blue Shade
...                        ...
1220  Phthalo Blue Green Shade
1221               New Gamboge
1222       Hansa Yellow Medium
1223            Undersea Green
1224           Imperial Purple

[1225 rows x 1 columns]

In [283]:
y_df2 = y_test.to_frame()

In [289]:
y_df2.reset_index()

      index                      name
0      4656              Payne’s Gray
1      3659            Undersea Green
2       907           Perinone Orange
3      4352              Burnt Sienna
4      3271  Phthalo Green Blue Shade
...     ...                       ...
1220   2614  Phthalo Blue Green Shade
1221    755               New Gamboge
1222    518       Hansa Yellow Medium
1223   3671            Undersea Green
1224     32           Imperial Purple

[1225 rows x 2 columns]

In [301]:
y_df2["y_pred"] = y_pred

In [302]:
y_df2

                          name                    y_pred
4656              Payne’s Gray            Undersea Green
3659            Undersea Green          Indanthrone Blue
907            Perinone Orange           Perinone Orange
4352              Burnt Sienna              Burnt Sienna
3271  Phthalo Green Blue Shade  Phthalo Green Blue Shade
...                        ...                       ...
2614  Phthalo Blue Green Shade  Phthalo Blue Green Shade
755                New Gamboge               New Gamboge
518        Hansa Yellow Medium       Hansa Yellow Medium
3671            Undersea Green            Undersea Green
32             Imperial Purple           Imperial Purple

[1225 rows x 2 columns]

In [303]:
no_match = y_df2[y_df2["name"] != y_df2["y_pred"]]

In [307]:
no_match.name.value_counts()

Perylene Green                16
Hansa Yellow Light            15
Payne’s Gray                  15
Rich Green Gold               13
Quinacridone Pink             13
Lemon Yellow                  11
Permanent Alizarin Crimson     9
Shadow Violet                  9
Aureolin (Cobalt Yellow)       8
Cobalt Teal Blue               8
Green Gold                     8
Ultramarine Violet             8
Undersea Green                 8
Rose of Ultramarine            8
Indigo                         8
Phthalo Blue Green Shade       7
Yellow Ochre                   7
Sepia                          6
Quinacridone Coral             6
Neutral Tint                   5
Phthalo Turquoise              5
Moonglow                       5
Quinacridone Violet            5
Quinacridone Sienna            5
New Gamboge                    4
Cascade Green                  4
Burnt Sienna                   4
Indanthrone Blue               4
Raw Sienna                     3
Deep Sap Green                 3
Perinone Orange                3
Quinacridone Burnt Orange      3
Sap Green                      2
Raw Umber                      2
Buff Titanium                  2
Quinacridone Magenta           2
Prussian Blue                  2
Naples Yellow                  2
Ultramarine Turquoise          2
Cobalt Violet                  1
Phthalo Green Blue Shade       1
Transparent Pyrrol Orange      1
Nickel Azo Yellow              1
Hansa Yellow Medium            1
Cerulean Blue                  1
Opera Pink                     1
Aussie Red Gold                1
Name: name, dtype: int64

In [308]:
no_match.y_pred.value_counts()

Bismuth Vanadate Yellow       18
Undersea Green                15
Indigo                        13
Hansa Yellow Medium           12
Indanthrone Blue              10
Naples Yellow                 10
Payne’s Gray                   9
Rose of Ultramarine            8
Quinacridone Rose              8
Ultramarine Violet             8
Cobalt Teal Blue               8
Quinacridone Sienna            7
Cerulean Blue Chromium         7
Green Gold                     7
Raw Umber                      6
Deep Sap Green                 6
Quinacridone Magenta           6
Perylene Green                 6
Perinone Orange                6
Ultramarine Turquoise          5
Carbazole Violet               5
Moonglow                       5
Quinacridone Burnt Orange      5
Aureolin (Cobalt Yellow)       5
Phthalo Turquoise              5
Raw Sienna                     5
Rich Green Gold                4
Pyrrol Orange                  4
New Gamboge                    4
Buff Titanium                  3
Quinacridone Violet            3
Opera Pink                     3
Sepia                          3
Yellow Ochre                   3
Quinacridone Purple            3
Transparent Pyrrol Orange      2
Alizarin Crimson               2
Quinacridone Burnt Scarlet     2
Lemon Yellow                   2
Cerulean Blue                  2
Sap Green                      2
Aussie Red Gold                2
Neutral Tint                   2
Cascade Green                  1
Permanent Alizarin Crimson     1
Prussian Blue                  1
Hansa Yellow Light             1
Shadow Violet                  1
Nickel Azo Yellow              1
Viridian                       1
Name: y_pred, dtype: int64

In [282]:
X_test

               H
4656  212.775418
3659  210.442810
907    10.370370
4352   12.055556
3271   76.879630
...          ...
2614  100.185185
755    22.703704
518    29.000000
3671  212.260167
32    129.259259

[1225 rows x 1 columns]

In [298]:
y_full = pd.concat([y_df2,y_df], axis = 0, ignore_index=True)

In [299]:
y_full

                          name                    y_pred
0                 Payne’s Gray                       NaN
1               Undersea Green                       NaN
2              Perinone Orange                       NaN
3                 Burnt Sienna                       NaN
4     Phthalo Green Blue Shade                       NaN
...                        ...                       ...
2445                       NaN  Phthalo Blue Green Shade
2446                       NaN               New Gamboge
2447                       NaN       Hansa Yellow Medium
2448                       NaN            Undersea Green
2449                       NaN           Imperial Purple

[2450 rows x 2 columns]

In [268]:
y_pred.shape

(1225,)

In [269]:
y_test.shape

(1225,)

# Radius Classifier

In [323]:
from sklearn.neighbors import RadiusNeighborsClassifier

In [363]:
rad = RadiusNeighborsClassifier(radius=1.0, weights = 'distance', outlier_label = 'most_frequent')

In [364]:
rad.fit(X_train, y_train)

RadiusNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                          metric_params=None, n_jobs=None,
                          outlier_label='most_frequent', p=2, radius=1.0,
                          weights='distance')

In [365]:
y_rad_pred = rad.predict(X_test)

In [366]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_rad_pred))

Accuracy: 0.7926530612244898

In [341]:
X_test.iloc[951]

H    50.092593
Name: 1055, dtype: float64

In [367]:
X_test

               H
4656  212.775418
3659  210.442810
907    10.370370
4352   12.055556
3271   76.879630
...          ...
2614  100.185185
755    22.703704
518    29.000000
3671  212.260167
32    129.259259

[1225 rows x 1 columns]

# Run K++ on each H values

## Clustering & Bagging